*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 130%;
	margin: 0;
	padding: 0;
	background-color: #4D5474;
	color: #FFFFFF;
	min-width: 1440px;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

$blue: #43E8FF;



.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 241px;
	//width: 17%;
	height: 995px;
	background-color: #1F2339;
	text-align: left;
	font-size: 14px;
	line-height: 19px;
	font-weight: 400;
	//padding-left: 47px;



	&-home_btn {
		display: block;
		color: #FFFFFF;
		font-weight: 600;
		margin-top: 31px;
		margin-left: 19px;
		padding-left: 27px;
		position: relative;



		&:hover,
		&:active {
			color: $blue;
		}


	}

	.home-active {
		color: $blue;

	}


	&-user {
		display: block;
		color: #FFFFFF;
		margin-top: 28px;
		margin-left: 19px;
		padding-left: 27px;
		position: relative;

		&:active,
		&:hover {
			color: $blue;
		}
	}

	.menu {
		margin: 76px 10px 0;
		height: 335px;
		//	margin-top: 89px;



		&-list {
			height: 335px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			//border: 2px solid red;
		}


		&-link {
			display: block;
			color: #FFFFFF;
			padding-left: 32px;
			position: relative;
			padding: 13px 9px 14px 38px;
			border-radius: 10px;
			//transition: .4s all ease-out;


			&:hover,
			&:active {
				background: radial-gradient(133.33% 2508.35% at -4.59% -10%, #32E6FF 0%, rgba(0, 255, 209, 0.81) 100%)
					/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
					, #43E8FF;

				color: #23273A;
				font-weight: 500;
				padding: 13px 9px 14px 38px;

			}
		}

		&-active {

			background: radial-gradient(133.33% 2508.35% at -4.59% -10%, #32E6FF 0%, rgba(0, 255, 209, 0.81) 100%)
				/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
				, #43E8FF;
			color: #23273A;

			padding: 13px 9px 14px 38px;
		}
	}

	.clock {
		margin: 370px 20px;
		width: 83px;
		height: 35px;
		font-weight: 700;
		font-size: 20px;
		line-height: 27px;
	}

}

.main {
	width: 1200px;
	margin-left: 241px;
	//width: 83%;

	.top {
		position: absolute;
		top: 57px;
		left: 281px;
		display: flex;
		justify-content: space-between;
		width: 1080px;
		height: 83px;

		&-title {
			font-weight: 700;
			font-size: 20px;
			line-height: 27px;
			margin: 0;
		}

		.search {
			position: relative;
			margin-left: 200px;
			margin-top: -5px;
			//	border: 2px solid red;
			width: 603px;
			height: 36px;

			&-field {
				width: 465px;
				height: 36px;
				background: #3E4459;
				border-radius: 5px;
				outline: none;
				border: none;
				padding: 8px 130px 9px 16px;
				font-weight: 300;
				font-size: 14px;
				line-height: 19px;
				color: #C4C4C4;
				position: absolute;
				top: 0;
				left: 0;


			}

			&-btn {
				background: #FFFFFF;
				border-radius: 6px;
				font-weight: 600;
				font-size: 16px;
				line-height: 22px;
				color: #23273A;
				padding: 7px 30px;
				border: 0;
				position: absolute;
				top: 0;
				right: 0;
				cursor: pointer;
			}

			&-filter {
				width: 13px;
				height: 16px;
				display: block;
				background-image: url(../img/Filter.svg);
				position: absolute;
				top: 10px;
				right: 148px;
				cursor: pointer;
			}
		}

		&-btns {
			display: flex;
			justify-content: space-between;
			width: 83px;
		}

		&-more_btn {
			display: block;
			//	position: relative;
			width: 35px;
			height: 35px;
			background-image: url(../img/more.png);
			background-repeat: no-repeat;


		}

		&-options_btn {
			display: block;
			width: 34px;
			height: 34px;
			background-image: url(../img/options.svg);
			margin-top: -3px;
		}

		&-status {
			color: $blue;
			display: block;
			margin-top: 7px;
			margin-left: -2px;
		}

		&-check_btn {
			display: block;
			padding: 7px 30px;
			width: 238px;
			height: 36px;
			background: #FFFFFF;
			color: #23273A;
			border-radius: 6px;
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
			margin-left: 360px;
			margin-top: -2px;


		}
	}

	//главная страница//

	.vidgets {
		margin-top: 136px;
		margin-left: 40px;
		margin-bottom: 38px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 1080px;
		height: 820px;
		//border: 2px solid red;
		/*	grid-template-columns: 2);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;*/



		&-card {
			display: block;
			background-color: #383E57;
			color: #FFFFFF;
			border-radius: 18px;
			box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.15);


		}

		&-title {
			font-weight: 700;
			font-size: 16px;
			line-height: 26px;
			display: block;
			margin-top: 22px;
			margin-left: 20px;
		}

		.field_work {
			width: 340px;
			height: 230px;
			//position: absolute;
			//left: 281px;
			//	top: 136px;
			background-image: url(../img/field.png);
			background-repeat: no-repeat;
			background-position: 83% 58%;
		}

		.harvest_stat {
			width: 340px;
			height: 230px;
			background-image: url(../img/map.png);
			background-repeat: no-repeat;
			background-position: 65% 65%;
		}

		.weather {
			width: 340px;
			height: 230px;
		}

		.reports {
			width: 710px;
			height: 230px;
			background-image: url(../img/chart.png);
			background-repeat: no-repeat;
			background-position: 91.5% 46%;
		}

		.stuff {
			width: 340px;
			height: 230px;
		}

		.millet_stat {
			width: 525px;
			height: 270px;
			background-image: url(../img/pie-chart.png);
			background-repeat: no-repeat;
			background-position: 77% 72%;
		}

		.rented_equip {
			width: 525px;
			height: 270px;
			background-image: url(../img/tech-chart.png);
			background-repeat: no-repeat;
			background-position: 96% 72%;
		}
	}

	//Мероприятия//

	&-event {}


	//Организации//
	.table {
		position: relative;
		margin-top: 147px;
		margin-left: 40px;
		border-radius: 18px;
		width: 1080px;
		height: 789px;
		background-color: #383E57;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
		box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.15);

		&-field {
			border-collapse: collapse;
			border-spacing: 0;

		}

		thead {
			display: table;
			width: calc(100% - 16px);
			height: 50px;
		}

		tbody {
			display: block;
			width: 1070px;
			height: 720px;
		
			//overflow: auto;
			//overflow-y: scroll;
			//scroll-snap-type: y mandatory;
		//	scrollbar-color: #3E4459 #23273A;
			//	scroll-margin: 0 10px 0 50px;

		/*	&::-webkit-scrollbar {
				background-color: #3E4459;
				border-radius: 6px;
				width: 12px;
				height: 46px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #23273A;
				border-radius: 6px;
				width: 8px;
				height: 146px;
			}*/

		}

		th {
			font-weight: 700;
			font-size: 14px;
			line-height: 19px;
			//border: 0.5px solid rgba(0, 0, 0, 0.5);
			//	border-width: 0 0 1px 0;
			padding: 10px;
		}

		td {

			//	border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);;
			border: 0.5px solid rgba(0, 0, 0, 0.5);
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			color: #A1A6BE;
			padding: 15px 20px;
			//border-width: 0 1px 1px 0;


			&:last-child {
				border-right: 0;
			}

			&:first-child {
				border-left: 0;
			}
		}

		//	.simplebar-track {
		.simplebar-vertical {
			background-color: #3E4459;
			border-radius: 6px;
			width: 15px;
			height: 100%;
			margin-right: 8px;
			margin-left: 5px;
			margin-top: 5px;
		}

		.simplebar-scrollbar {
			border-radius: 6px;
			width: 11px;
			background-color: #23273A;
			margin: 0 auto;

			&::before {
				border-radius: 6px;
				width: 11px;
				background-color: #23273A;
				left: 0;
			}
		}

		.simplebar-content-wrapper {
			//padding-left: 40px;
			padding-right: 10px;
		}

		&-edit_btn {
			font-size: 0;
			width: 15px;
			height: 14px;
			background-image: url(../img/edit_btn.svg);
			background-color: transparent;
			border: 0;
			cursor: pointer;
		}
	}
}